body {
    background-color: #f6f6f6;
}

.main-content {
    background-color: #FFFFFF;
    border-radius: .25em;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(214,214,214,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(214,214,214,1);
    box-shadow: 0px 0px 5px 0px rgba(214,214,214,1);
}

.secure-pw--container {
    border: 3px dashed #d6d6d6;
    border-radius: .25em;
    min-height: 250px;
}

#secure-pw {
    word-break: break-all;
}

input#copiedText:hover {
    cursor: default;
}